@import 'tailwindcss';

@utility container {
  max-width: 95rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --text-base: 15px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-xxs: 11px;
  --font-google-sans: var(--font-google-sans);
}

.prose__content {
  @apply text-base;
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0 !important;
    }
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      @apply inline-block;
      @apply text-foreground;
    }
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-xs;
  }
}
